doctype html
html(ng-app="PerformanceApp")
  head
    title Administrator
    base(href="http://#{base}/")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link( href="https://fontastic.s3.amazonaws.com/26UitzXaU4M4paB5gpLh8e/icons.css",rel="stylesheet")
    // STYLES
    link(rel="stylesheet", href="/styles/dependencies/angular-material.min.css?v=f0lLuKS")
    link(rel="stylesheet", href="/styles/administrator.css?v=f0lLuKS")
    // STYLES END

  body
    // TEMPLATES
    
    // TEMPLATES END
    section
        header
        ng-view
    aside(ng-controller="NavigatorCtrl")
        ul
            li(ng-class="{active:active('/users')}")
                a.i-group(href="/users")

        ul.down
            li.i-power(ng-click="logout()")

        alert-holder(position="top-right")
        switch(position="bottom-right")
    // SCRIPTS
    script(src="/js/dependencies/angular-animate.js?v=tK7H4gH")
    script(src="/js/dependencies/angular-aria.min.js?v=tK7H4gH")
    script(src="/js/dependencies/angular.min.js?v=tK7H4gH")
    script(src="/js/dependencies/sails.io.js?v=tK7H4gH")
    script(src="/js/dependencies/socket.io.js?v=tK7H4gH")
    // SCRIPTS END


    if sails.config.livereloadPath
        script(src="#{sails.config.livereloadPath}")
