html(ng-app="TestApp")
  head
    title This is it

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/styles/angular-material.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/styles.css")
    // STYLES END

    link(rel="stylesheet", href="/materialize/materialize.css")

  body(ng-contorller="TestCtrl")
    //- md-button(class="md-primary ") This is my sample button
    //- h1 hello {{title}}
    //- input(type="text", ng-model="name")
    //- h1 to the {{name}}


    // App SideNav Here

    sectcion(ng-controller='AppCtrl', layout="row", flex='', style="background-color:#333333")

        //Sidebar NavBar
        div(class="md-raised", style=" height:100%; width:86px;", class="col s1 grey center white-text")
            h1 P
            h1 D


        //Content
        md-content(flex='', layout="column", ng-controller="TestCtrl")

            div( layout="column")
                md-toolbar
                    div(class="md-toolbar-tools")
                        md-button
                            md-icon(md-svg-icon="images/icons/menu.svg")
                        h2 EMPLOYEE VIEW
            div(flex='', style="background-color:#F7F7F7" layout-padding)
                md-toolbar(class="md-warm md-hue-1")
                    div(layout="row",class="md-toolbar-tools")
                        h2(flex='10') Date
                        h2(flex='20') Scope
                        h2(flex='20') Concern
                        h2(flex='20') Description
                        h2(flex='10') Status
                        h2(flex='20') Actions
                md-list
                    md-list-item(class="md-3-line", ng-repeat="request in requests")
                        a(class="grey lighten-3", ng-click="showPostDetail(request)", layout="row", flex)
                            h6(flex='10') {{request.date}}
                            h6(flex='20') {{request.scope.name}}
                            h6(flex='20') {{request.concern.name}}
                            h6(flex='20') {{request.scope.name}}
                            h6(flex='10') {{request.status.name}}
                            h6(flex='20') Actions


            // SideNav in the right
            md-sidenav.md-sidenav-right.md-whiteframe-z4(md-component-id='right', style="width:500px; max-width:none")
                md-toolbar.md-theme-light
                    div.md-toolbar-tools(layout="row", layout-align="center center")
                        h2 Sidenav Right
                        span(flex)
                        md-button(class="red white-text md-raised md-disabled") {{requestView.status.name}}
                        //span(class="badge blue", style="position:inherit; font-size:1.5rem" ) {{requestView.status.name}}
                h1(class="container") {{requestView.scope.name}}
                h4(class="container") {{requestView.concern.name}}

                md-content( layout-padding='')
                    p {{requestView.date}}
                    p {{requestView.description}}
                    form(ng-if="false")
                        md-input-container
                            label(for='testInput') Test input
                            input#testInput(type='text', ng-model='textData', md-autofocus='')
                        md-button.md-primary(ng-click='close()') Close Sidenav Right
            md-button(class="md-fab md-fab-bottom-right", ng-click="toggleRight()")
                md-icon(md-svg-src="images/icons/menu.svg")


    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/angular.min.js")
    script(src="/js/dependencies/angular-sails.min.js")
    script(src="/js/dependencies/angular-animate.min.js")
    script(src="/js/dependencies/angular-aria.min.js")
    script(src="/js/dependencies/angular-material.min.js")
    script(src="/js/app.js")
    // SCRIPTS END




