doctype html
html(ng-app="superApp")
  head
    title Superuser
    base(href="http://#{base}/")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no")
    link( href="https://fontastic.s3.amazonaws.com/26UitzXaU4M4paB5gpLh8e/icons.css",rel="stylesheet")
    // STYLES
    link(rel="stylesheet", href="/styles/dependencies/angular-material.css?v=A54ardC")
    link(rel="stylesheet", href="/styles/dependencies/angular-material.min.css?v=A54ardC")
    link(rel="stylesheet", href="/styles/common/switchView/switchView.css?v=A54ardC")
    link(rel="stylesheet", href="/styles/administrator.css?v=A54ardC")
    // STYLES END
    link(rel="stylesheet", href="/materialize/materialize.css")

    // SCRIPTS
    script(src="/js/dependencies/socket.io.js?v=aiSh6LA")
    script(src="/js/dependencies/angular.min.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-aria.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-resource.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-animate.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-material.js?v=aiSh6LA")
    script(src="/js/dependencies/FileSaver.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-aria.min.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-material.min.js?v=aiSh6LA")
    script(src="/js/dependencies/angular-route.js?v=aiSh6LA")
    script(src="/js/dependencies/angular.js?v=aiSh6LA")
    script(src="/js/dependencies/clickoutside.directive.js?v=aiSh6LA")
    script(src="/js/dependencies/lodash.js?v=aiSh6LA")
    script(src="/js/superuser/app.js?v=aiSh6LA")
    script(src="/js/superuser/super/superCtrl.js?v=aiSh6LA")
    script(src="/js/common/CryptoJs.js?v=aiSh6LA")
    script(src="/js/common/NavigationCtrl.js?v=aiSh6LA")
    script(src="/js/common/ngMeditab.js?v=aiSh6LA")
    script(src="/js/common/superModel.js?v=aiSh6LA")
    script(src="/js/common/switchView/SwitchViewDir.js?v=aiSh6LA")
    // SCRIPTS END

  body


    // TEMPLATES
    script(type="text/javascript", src="/templates/jst_superuser.js?v=fD2wd3h")
    // TEMPLATES END



    section
      //- header
        //- div(ng-controller='zzz')
      //- ng-view

      //- ng-view
      //- ng-view.slide-right
      div(style="height:100%", flex)
        ng-view(style="height:100%", flex)

    aside(ng-controller="NavigatorCtrl")

      ul.down
        li.i-power(ng-click="logout()")

      alert-holder(position="top-right")
      switch(position="bottom-right")



  if sails.config.livereloadPath
      script(src="#{sails.config.livereloadPath}")




