$dark-blue: #1b325f;
$blue: #3a89c9;
$orange: #f26c4f;
$light-blue: #9cc4e4;
$gray: #e9f2f9;
$dark-gray: $gray * 0.8;
$light-gray: $gray * 1.2;
$white-blue: #e9f2f9;
$teal: #009688;


$red: #a30006;
$green: #3fff3a;
