
md-content(flex, layout="column", ng-controller="EmployeeCtrl", style="height:100%")

  div( layout="column")
    md-toolbar
      div(class="md-toolbar-tools")
        md-button
          md-icon(md-svg-icon="images/icons/menu.svg")
        h2 Requests

  div(layout="row", flex)
    div(flex, layout="column", style="background-color:#F7F7F7" )
      md-toolbar(class=" md-hue-3", flex="25")
        div(layout="row",class="md-toolbar-tools")
          div(flex)
            div(flex offset='70')
              input(type='text' placeholder='SEARCH' ng-model='search')
      div(layout-margin,flex, layout="row")
        .md-whiteframe-z2(flex)
          md-toolbar(class=" md-accent", flex="25")
            .md-toolbar-tools(layout="row")

              h3(flex, layout-align="center center")
                a(href='', ng-click="reverse=!reverse;order('createdAt', reverse)") Date
              h3(flex, layout-align="center center")
                a(href='', ng-click="reverse=!reverse;order('title', reverse)") Title
              h3(flex, layout-align="center center")
                a(href='', ng-click="reverse=!reverse;order('scopeId.name', reverse)") Scope
              h3(flex, layout-align="center center")
                a(href='', ng-click="reverse=!reverse;order('concernId.name', reverse)") Concern

              h3(flex, layout-align="center center") Actions

          md-list(flex, style="max-height:700px;overflow:auto;")
              md-list-item(layout="row" , class="md-3-line", ng-repeat="request in requests | filter:search" , ng-click="selectRequest(request)")
                  .md-list-item-text(flex) {{ request.createdAt | date :'MMM d, y   h:mm a' }}
                  .md-list-item-text(flex) {{request.title}}
                  .md-list-item-text(flex) {{request.scopeId.name}}
                  .md-list-item-text(flex) {{request.concernId.name}}
                  .md-list-item-text(flex) Gonna delete you
                  md-divider




      div(layout="row" class="fixed-action-btn", style="right: 37px;bottom: 108px;", flex="30")
        md-button(class="md-fab md-accent ", ng-click="toAddRequest()", aria-label="add scope")
          md-icon(md-svg-src="images/icons/add-white.svg")


  md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right', style="width:500px; max-width:none")
    md-toolbar.md-theme-light.md-primary.md-hue-3
      div.md-toolbar-tools
        h2(ng-show="!toView") Send Request
        div(ng-show="toView", layout="column")
          h2 {{selectedRequest.scopeId.name}}
          small {{selectedRequest.concernId.name}}
        section(flex)
        md-button.md-raised.green(ng-show="!toView") {{selectedScope.defaultStatus.name}}
        md-button.md-raised.green(ng-show="toView") {{selectedRequest.statusId.name}}

      div.black-text(ng-if="toView")
        md-card
          md-card-content
            h5.title {{selectedRequest.title}}
            md-divider
            h6 {{selectedRequest.createdAt | date :'MMM d, y   h:mm a' }}
            p {{selectedRequest.description}}



    md-content.container(layout-padding='', style="width:85%;min-width:100px;")
      form(ng-if='!toView', name="RequestForm")
        md-input-container
          label Title
          input(type="text" ng-model="addRequestForm.title" md-maxlength="30", required)

        md-input-container
          label Scope
          md-select(ng-model="addRequestForm.scopeId",  required)
            md-option(value="{{scope.id}}" ng-repeat="scope in scopes" , ng-click="selectScope(scope)") {{scope.name}}

        md-input-container
          label Concern
          md-select(ng-model="addRequestForm.concernId", required)
            md-option(value="{{concern.id}}", ng-repeat="concern in scopeConcerns") {{concern.name}}

        md-input-container
          label Description
          textarea(ng-model="addRequestForm.description", columns="1" md-maxlength="150")

        div(layout='row' layout-align='center right')
          md-button.md-raised.md-primary.md-accent(flex, ng-click='addRequest()' ng-disabled="RequestForm.$invalid") ADD
          md-button.md-primary(flex, ng-click='close()') CANCEL




      //- form#editScopeForm(ng-show="toView")
      //-   md-input-container
      //-     label(for='ScopeName', style="font-size:1.5rem") Name
      //-     input#eScopeName(required , type='text', ng-model='editScopeForm.name', md-autofocus='')
      //-   div(layout="row",  layout-align="center right")

      //-     md-button.md-raised.md-primary.md-hue-2(ng-click='editScope()') EDIT
      //-     md-button.md-raised(ng-click='close()') CANCEL
