@font-face {
  font-family: "kpi-kra";
  src: url("../fonts/kpi-kra.eot");
  src: url("../fonts/kpi-kra.eot?#iefix") format("embedded-opentype"), url("../fonts/kpi-kra.woff") format("woff"), url("../fonts/kpi-kra.ttf") format("truetype"), url("../fonts/kpi-kra.svg#kpi-kra") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "kpi-kra" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "kpi-kra" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-down:before {
  content: "a"; }

.i-left:before {
  content: "b"; }

.i-right:before {
  content: "c"; }

.i-up:before {
  content: "d"; }

.i-power:before {
  content: "f"; }

.i-gears:before {
  content: "g"; }

.i-group:before {
  content: "e"; }

.i-building:before {
  content: "h"; }

.i-download:before {
  content: "i"; }

.i-add-document:before {
  content: "j"; }

.i-flag:before {
  content: "k"; }

.i-circle-plus:before {
  content: "l"; }

.i-circle-x:before {
  content: "m"; }

.i-plus:before {
  content: "n"; }

.i-x:before {
  content: "o"; }

.i-tag:before {
  content: "p"; }

.i-x-page:before {
  content: "q"; }

.i-trash:before {
  content: "r"; }

.i-calendar:before {
  content: "s"; }

.i-compass:before {
  content: "t"; }

.i-search:before {
  content: "u"; }

.i-square:before {
  content: "v"; }

.i-square-check:before {
  content: "w"; }

.i-plus-squared:before {
  content: "x"; }

.i-person:before {
  content: "y"; }

.i-book:before {
  content: "z"; }

.i-save:before {
  content: "B"; }

.i-edit:before {
  content: "A"; }

.i-user:before {
  content: "C"; }

.i-bar-graph:before {
  content: "D"; }

.i-supervisor:before {
  content: "E"; }

html {
  background-color: #e9f2f9;
  color: #1b325f;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px; }
    html body > section {
      position: absolute;
      left: 60px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background: #e9f2f9;
      overflow-x: hidden;
      overflow-y: auto; }
    html body > aside {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 60px;
      box-shadow: rgba(27, 50, 95, 0.4) 2px 0px 5px;
      background-color: #009688; }
      html body > aside ul {
        padding: 0px;
        margin: 0px;
        width: inherit;
        height: auto;
        padding-top: 58px; }
        html body > aside ul li {
          text-align: center;
          height: 60px;
          line-height: 66px;
          color: white;
          font-size: 1.5em;
          cursor: pointer;
          transition: all 0.2s linear; }
          html body > aside ul li a {
            display: inline-block;
            width: 100%;
            color: white !important;
            padding: 0px;
            margin: 0px;
            line-height: 66px; }
          html body > aside ul li:hover {
            background: #45a4f1; }
          html body > aside ul li.active {
            background: #1b325f;
            border-top: #51bfff 2px solid;
            border-bottom: #51bfff 2px solid; }
        html body > aside ul.down {
          padding-top: 0px;
          position: absolute;
          bottom: 0px; }

.page-template-1 {
  position: absolute;
  width: 100%;
  height: 100%; }
  .page-template-1 > header {
    height: 60px;
    width: 100%;
    background: white;
    border-bottom: #9cc4e4 2px solid; }
    .page-template-1 > header nav {
      line-height: 60px;
      color: #3a89c9;
      font-size: 1.4em;
      margin-left: 20px; }
    .page-template-1 > header input {
      margin-top: 12px; }
  .page-template-1 > section {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0px; }

table {
  outline: none;
  border: none; }

.panel-kpi-1 {
  position: relative;
  width: calc(100% -40px);
  margin: 20px;
  height: auto;
  min-height: calc(100% - 40px);
  overflow: auto;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(27, 50, 95, 0.2) 5px 5px 5px;
  text-indent: 10px; }
  .panel-kpi-1 > header {
    height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #bac1c7;
    width: 100%;
    color: white;
    line-height: 40px; }
    .panel-kpi-1 > header.blue {
      background: #3a89c9; }

.panel-kpi-split {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .panel-kpi-split > section {
    height: 100%;
    width: calc(100% - 400px);
    overflow: hidden;
    overflow-y: auto; }
  .panel-kpi-split > aside {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 400px;
    background: #9cc4e4; }
    .panel-kpi-split > aside > h3 {
      color: white;
      text-indent: 10px;
      border-bottom: white 1px solid; }
    .panel-kpi-split > aside form {
      padding: 10px; }
      .panel-kpi-split > aside form label {
        color: white; }
      .panel-kpi-split > aside form textarea, .panel-kpi-split > aside form input, .panel-kpi-split > aside form select {
        margin-bottom: 1rem; }
    .panel-kpi-split > aside ul.down {
      position: absolute;
      bottom: 0px;
      list-style: none;
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: auto; }
      .panel-kpi-split > aside ul.down li {
        width: 100%;
        line-height: 40px;
        height: 40px;
        color: white;
        background: #1b325f;
        padding: 0px 20px;
        font-size: 1.4em;
        border-top: #9cc4e4 1px solid;
        cursor: pointer; }
        .panel-kpi-split > aside ul.down li:hover {
          background: #3a89c9; }
        .panel-kpi-split > aside ul.down li:before {
          margin-right: 20px; }

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea, select {
  border-radius: 5px;
  border-color: #9cc4e4; }

ul#list-kpi {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  ul#list-kpi li {
    width: calc(100% - 20px);
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    background: white;
    color: #3a89c9;
    cursor: pointer;
    border: white 1px solid;
    box-shadow: rgba(27, 50, 95, 0.4) 2px 2px 5px; }
    ul#list-kpi li:hover {
      border: #3a89c9 1px solid; }
    ul#list-kpi li.active {
      background: #3a89c9;
      color: white;
      border: white 1px solid; }
      ul#list-kpi li.active .score a {
        color: white !important; }
    ul#list-kpi li.team h4, ul#list-kpi li.team .i-group, ul#list-kpi li.member h4, ul#list-kpi li.member .i-group {
      color: inherit;
      margin: 0px; }
    ul#list-kpi li.team div, ul#list-kpi li.member div {
      float: left;
      height: 60px;
      position: relative; }
    ul#list-kpi li.team .score, ul#list-kpi li.member .score {
      width: 100px;
      text-align: center; }
      ul#list-kpi li.team .score date, ul#list-kpi li.member .score date {
        font-size: 10px; }
      ul#list-kpi li.team .score a, ul#list-kpi li.member .score a {
        color: #3a89c9; }
    ul#list-kpi li.team .name, ul#list-kpi li.member .name {
      width: calc(100% - 400px );
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 60px;
      font-size: 1.8em;
      text-indent: 20px; }
    ul#list-kpi li.team .members, ul#list-kpi li.team .kpi, ul#list-kpi li.member .members, ul#list-kpi li.member .kpi {
      width: 150px; }
      ul#list-kpi li.team .members h4, ul#list-kpi li.team .kpi h4, ul#list-kpi li.member .members h4, ul#list-kpi li.member .kpi h4 {
        line-height: 50px;
        float: left;
        width: 40px !important;
        line-height: 60px;
        text-indent: 5px; }
      ul#list-kpi li.team .members .i-group, ul#list-kpi li.team .members .i-supervisor, ul#list-kpi li.team .members .i-compass, ul#list-kpi li.team .members .i-bar-graph, ul#list-kpi li.team .kpi .i-group, ul#list-kpi li.team .kpi .i-supervisor, ul#list-kpi li.team .kpi .i-compass, ul#list-kpi li.team .kpi .i-bar-graph, ul#list-kpi li.member .members .i-group, ul#list-kpi li.member .members .i-supervisor, ul#list-kpi li.member .members .i-compass, ul#list-kpi li.member .members .i-bar-graph, ul#list-kpi li.member .kpi .i-group, ul#list-kpi li.member .kpi .i-supervisor, ul#list-kpi li.member .kpi .i-compass, ul#list-kpi li.member .kpi .i-bar-graph {
        line-height: 60px;
        margin-top: 5px;
        font-size: 2em;
        float: left;
        width: 35px !important;
        text-align: center; }
      ul#list-kpi li.team .members:hover, ul#list-kpi li.team .kpi:hover, ul#list-kpi li.member .members:hover, ul#list-kpi li.member .kpi:hover {
        color: #1b325f; }
    ul#list-kpi li.team .photo, ul#list-kpi li.member .photo {
      width: 60px;
      height: 58px;
      background: #bac1c7; }
    ul#list-kpi li.team .role, ul#list-kpi li.member .role {
      width: 150px;
      line-height: 60px; }
    ul#list-kpi li.team .member-name, ul#list-kpi li.member .member-name {
      width: calc(100% - 310px);
      line-height: 60px;
      height: 60px;
      text-indent: 20px; }
    ul#list-kpi li.team .member-name-2, ul#list-kpi li.member .member-name-2 {
      width: calc(100% - 460px);
      line-height: 60px;
      height: 60px;
      text-indent: 20px; }
    ul#list-kpi li.team .last-evaluation, ul#list-kpi li.member .last-evaluation {
      width: 150px;
      height: 60px;
      font-size: 0.8em;
      line-height: 60px; }
      ul#list-kpi li.team .last-evaluation label, ul#list-kpi li.member .last-evaluation label {
        font-size: 0.8em;
        line-height: 1em;
        text-align: center; }
      ul#list-kpi li.team .last-evaluation.tilt, ul#list-kpi li.member .last-evaluation.tilt {
        color: #a30006; }
      ul#list-kpi li.team .last-evaluation:hover, ul#list-kpi li.member .last-evaluation:hover {
        font-weight: bold;
        color: #2e6da0; }
        ul#list-kpi li.team .last-evaluation:hover.tilt, ul#list-kpi li.member .last-evaluation:hover.tilt {
          color: #820004; }
    ul#list-kpi li.team .review, ul#list-kpi li.member .review {
      width: 150px;
      height: 60px;
      padding: 10px; }

.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .scale-fade.ng-enter {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-leave-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-hide-add.ng-hide-add-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-remove {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .slide-top.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-leave-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-remove {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .slide-right.ng-enter {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-leave-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-remove {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

.adjusted {
  color: red; }

.btn {
  cursor: pointer;
  width: auto;
  line-height: 40px !important;
  margin-bottom: 1rem;
  background: #3a89c9;
  color: white;
  height: 40px !important;
  padding: 0px 10px;
  text-align: center; }
  .btn.expand {
    width: 100%; }
  .btn.rounded {
    border-radius: 5px; }
  .btn:hover {
    background: #2e6da0; }
  .btn.tilt {
    background: #a30006; }
    .btn.tilt:hover {
      background: #820004; }
  .btn.locked {
    background: #e9f2f9; }
  .btn.do {
    background: #f26c4f; }

.btn-icon {
  width: 40px;
  height: 40px;
  margin: 2px;
  line-height: 45px;
  text-align: center;
  color: white;
  background: #3a89c9;
  border-radius: 4px; }
  .btn-icon:hover {
    background: #9cc4e4; }
  .btn-icon.active {
    background: #3fff3a; }

.kpi-progress {
  height: 10px !important;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: #bac1c7 1px solid;
  margin: 5px 0px;
  background: #e9f2f9; }
  .kpi-progress aside {
    height: 10px;
    background: #3a89c9; }
  .kpi-progress.tilt {
    border-color: #a30006; }
    .kpi-progress.tilt aside {
      background: #e40008; }

.row {
  max-width: none; }

.btn-icon {
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  color: white;
  background: #3a89c9;
  border-radius: 4px; }
  .btn-icon:hover {
    background: #9cc4e4; }

/*# sourceMappingURL=home.css.map */
